ul, a{
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: flex;
}

ul, body{
    margin: 0;
}

nav {
    background-color: red;
    height: 75px;
}

footer {
    background-color: red;
    height: 75px;
    
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.img {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.small {
    width: 50px;
}

li {
    padding-right: 25px;
    padding-top: 18px;
}

.background {
    background-image: url("background.png");
    height: 625px;
}

.box {
    position: absolute;
}

.box:hover {
    transform: scale(2);
}

.line1 {
    display: flex;
    justify-content: space-around;
}

.line2 {
    display: flex;
    justify-content: space-around;
    padding-top: 5%
}

p {
    padding-left: 50px;
    font-size: 20px;
}

